body {
    background-color: #fcfdfc;
    color: #393a3d;
}

#countdownTimer {
    color: #a90e27;
    font-size: xx-large;
}

.startButton {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 10px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

.stopButton {
    background-color: #f44336;
    /* Red */
    border: none;
    color: white;
    padding: 10px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

.startButton:hover:enabled {
    background-color: rgb(9, 58, 42);
}

.stopButton:hover:enabled {
    background-color: rgb(78, 9, 9);
}

#dataTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

#dataTable td, #dataTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#dataTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#dataTable tr:hover {
    background-color: #ddd;
}

#dataTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}